# Life Circle Raw PHP - Git Ignore
# -----------------------------

# Database & SQL
*.sql
*.bd
*.txt

# Development Configurations
webpack.mix.js
.editorconfig
.styleci.yml
.gitattributes

# Backups & Laravel Leftovers
laravel_original_files/
vendor/
storage/
node_modules/
.env
*.zip

# IDE/System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build/Workflow
scratch/
tests/
phpunit.xml
vite.config.js
tailwind.config.js
package.json
package-lock.json
composer.json
composer.lock
artisan
